#content{
	width: 95%;
	height: 200px;
	overflow-x:hidden;
	overflow-y:auto; 
}

#console{
	width:300px;
	height:450px;
	border: 1px solid #e5e5e5;
	overflow-x:hidden;
	overflow-y:auto; 
	font-family:"Times New Roman", Times, serif;
	font-size:14px;
}

.textdefine{
	width:450px;
}

#container{
	width:1000px;
}

.alert{
	height:10px;
}





